@{
    ViewData["Title"] = "Privacy Policy For TaeJang Coding club. ";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. Becareful. Study all day and night. Be scare and hardwork</p>
